@font-face { 
    font-family: 'Molle';
    src: url('../assets/Fonts/Molle/Molle-Italic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }



.forth {
    color: rgba(200, 172, 214, 1);
  }
  
  .prompt {
    font-family: 'Prompt', sans-serif;
  }


  .SignIn_LogoDesign{
    height: 160px;
    margin-top: 10px;

  }
  
  .custom-form {
    width: 70%;
    max-width: 900px; 
    margin: 0 auto;
  }
  
  .input-line {
    border: none;
    border-bottom: 3px solid rgba(232, 222, 248, 1);
    outline: none;
    width: 100%; 
    max-width: 900px; 
    background-color: transparent;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    padding: 10px 40px 10px 10px;
    border-radius: 4px;
    color: white;
  }
  
  .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    pointer-events: none;
  }
  
  .input-line::placeholder {
    color: rgba(232, 222, 248, 0.9); 
    font-size: 16px;
  }
  
  .font_welcome {
    position: absolute;
    top: 170px;
    left: 50px;
    color: white; 
    font-size: 30px; 
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1; 
    font-family: 'Molle', sans-serif;
  }
  
  .lineDesignStyle {
    position: absolute;
    top: 230px;
    left: 10%;
    width: 45%;
  }
  
  .font_title {
    position: absolute;
    top: 600px;
    left: 280px;
    color: white; 
    font-size: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1; 
    font-family: 'Molengo', sans-serif;
    font-weight: 100;
  }
  
  @media (max-width: 767.98px) { 
    .left-section { 
      display: none; 
    }
  }
  
  .LoginStyle {
    background-color: rgba(200, 172, 214, 1); 
    color: rgba(23, 21, 59, 1);
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    border-radius: 8px;
    width: 60%;
    max-width: 100px;
    margin: 0 auto;
    display: block;
  }
  
  .LoginStyle:hover {
    background-color: rgba(180, 152, 194, 1);
  }
  
  form {
    width: 100%; 
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .mb-3 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end; 
  }
  
  .rotated-image {
    transform: rotate(180deg); 
    transition: transform 0.3s ease; 
    width: 90%; 
    max-width: 150px; 
    height: auto; 
  }
  
  .img-fluid {
    width: 90%; 
    max-width: 170px; 
    height: auto; 
  }
  
  @media (max-width: 767.98px) {
    .rotated-image,
    .img-fluid {
      width: 90%; 
      max-width: 150px; 
    }
  }
  
  .LoginGoogleStyle {
    background-color: rgba(200, 172, 214, 1); 
    color: rgba(23, 21, 59, 0.8);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
  }
  
  .font-Prosto {
    font-family: 'Prosto One', sans-serif;
    font-weight: 700;
  }
  
  .LoginGoogleStyle:hover {
    background-color: rgba(180, 152, 194, 1);
  }
  
  .LoginGoogleStyle:focus {
    background-color: rgba(180, 152, 194, 1);
  }
  
  .login-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0;
    height: 100%;
    background: linear-gradient(200deg, #17153b 10%, #1f1d51 25%, #282567 50%, #3f39a1 75%, #C8ACD6 180%);
  }
  
  .small-text {
    color: white;
    font-size: 15px;
  }
  
  .text-end {
    text-align: right;

  }
  


  .flex-item {
    flex: 1;
    margin-right: 130px; 
  }
  
  .flex-item:last-child {
    margin-right: 0;
  }
  
  
  .input-line-name {
    border: none;
    border-bottom: 3px solid rgba(232, 222, 248, 1);
    outline: none;
    width: 100%;
    max-width: 45%; 
    background-color: transparent;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    padding: 10px 40px 10px 10px;
    border-radius: 4px;
    color: white;
  }
  